<h1 class="text-center mb-4">Editar evento</h1>

<form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <div class="col-sm-4">
            <label class="mx-1">Ministrantes</label>
            <select class="form-control" formControlName="expertsId">
                <option [ngValue]="null">Ministrante</option>
                <option [ngValue]="expert.id" *ngFor="let expert of experts | async">{{expert.name}}</option>
            </select>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Título</label>
        <input type="text" class="form-control" placeholder="Título..." formControlName="title">
    </div>

    <div class="row mb-3">
        <div class="col-sm-4">
            <label class="form-label">Data</label>
            <input type="date" class="form-control" formControlName="date">
        </div>
        <div class="col-sm-4">
            <label class="form-label">Início</label>
            <input type="time" class="form-control" formControlName="initTime">
        </div>
        <div class="col-sm-4">
            <label class="form-label">Término</label>
            <input type="time" class="form-control" formControlName="endTime">
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Descrição</label>
        <textarea class="form-control" rows="6" placeholder="Description..." formControlName="description"></textarea>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <a routerLink="/schedules" class="btn btn-outline-purple w-100">
                Voltar
            </a>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-outline-success w-100" [disabled]="!scheduleForm.valid">
                Salvar
            </button>
        </div>
    </div>
</form>